<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatsigenerator.dao.DirectoryMapper">
  <resultMap id="BaseResultMap" type="com.mybatsigenerator.model.Directory">
    <id column="directoryid" jdbcType="INTEGER" property="directoryid" />
    <result column="projectid_d" jdbcType="VARCHAR" property="projectidD" />
    <result column="directorydesc" jdbcType="VARCHAR" property="directorydesc" />
    <result column="projectroot_d" jdbcType="VARCHAR" property="projectrootD" />
    <result column="directoryname" jdbcType="VARCHAR" property="directoryname" />
  </resultMap>
  <sql id="Base_Column_List">
    directoryid, projectid_d, directorydesc, projectroot_d, directoryname
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from directory_t
    where directoryid = #{directoryid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from directory_t
    where directoryid = #{directoryid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mybatsigenerator.model.Directory">
    insert into directory_t (directoryid, projectid_d, directorydesc, 
      projectroot_d, directoryname)
    values (#{directoryid,jdbcType=INTEGER}, #{projectidD,jdbcType=VARCHAR}, #{directorydesc,jdbcType=VARCHAR}, 
      #{projectrootD,jdbcType=VARCHAR}, #{directoryname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mybatsigenerator.model.Directory">
    insert into directory_t
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="directoryid != null">
        directoryid,
      </if>
      <if test="projectidD != null">
        projectid_d,
      </if>
      <if test="directorydesc != null">
        directorydesc,
      </if>
      <if test="projectrootD != null">
        projectroot_d,
      </if>
      <if test="directoryname != null">
        directoryname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="directoryid != null">
        #{directoryid,jdbcType=INTEGER},
      </if>
      <if test="projectidD != null">
        #{projectidD,jdbcType=VARCHAR},
      </if>
      <if test="directorydesc != null">
        #{directorydesc,jdbcType=VARCHAR},
      </if>
      <if test="projectrootD != null">
        #{projectrootD,jdbcType=VARCHAR},
      </if>
      <if test="directoryname != null">
        #{directoryname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mybatsigenerator.model.Directory">
    update directory_t
    <set>
      <if test="projectidD != null">
        projectid_d = #{projectidD,jdbcType=VARCHAR},
      </if>
      <if test="directorydesc != null">
        directorydesc = #{directorydesc,jdbcType=VARCHAR},
      </if>
      <if test="projectrootD != null">
        projectroot_d = #{projectrootD,jdbcType=VARCHAR},
      </if>
      <if test="directoryname != null">
        directoryname = #{directoryname,jdbcType=VARCHAR},
      </if>
    </set>
    where directoryid = #{directoryid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mybatsigenerator.model.Directory">
    update directory_t
    set projectid_d = #{projectidD,jdbcType=VARCHAR},
      directorydesc = #{directorydesc,jdbcType=VARCHAR},
      projectroot_d = #{projectrootD,jdbcType=VARCHAR},
      directoryname = #{directoryname,jdbcType=VARCHAR}
    where directoryid = #{directoryid,jdbcType=INTEGER}
  </update>
</mapper>