<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatsigenerator.dao.FileMapper">
  <resultMap id="BaseResultMap" type="com.mybatsigenerator.model.File">
    <id column="fileid" jdbcType="INTEGER" property="fileid" />
    <result column="directoryid" jdbcType="INTEGER" property="directoryid" />
    <result column="projectid_f" jdbcType="VARCHAR" property="projectidF" />
    <result column="filename" jdbcType="VARCHAR" property="filename" />
    <result column="filedesc" jdbcType="VARCHAR" property="filedesc" />
    <result column="projectroot_f" jdbcType="VARCHAR" property="projectrootF" />
    <result column="filetype" jdbcType="VARCHAR" property="filetype" />
  </resultMap>
  <sql id="Base_Column_List">
    fileid, directoryid, projectid_f, filename, filedesc, projectroot_f, filetype
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from file_t
    where fileid = #{fileid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from file_t
    where fileid = #{fileid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mybatsigenerator.model.File">
    insert into file_t (fileid, directoryid, projectid_f, 
      filename, filedesc, projectroot_f, 
      filetype)
    values (#{fileid,jdbcType=INTEGER}, #{directoryid,jdbcType=INTEGER}, #{projectidF,jdbcType=VARCHAR}, 
      #{filename,jdbcType=VARCHAR}, #{filedesc,jdbcType=VARCHAR}, #{projectrootF,jdbcType=VARCHAR}, 
      #{filetype,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mybatsigenerator.model.File">
    insert into file_t
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fileid != null">
        fileid,
      </if>
      <if test="directoryid != null">
        directoryid,
      </if>
      <if test="projectidF != null">
        projectid_f,
      </if>
      <if test="filename != null">
        filename,
      </if>
      <if test="filedesc != null">
        filedesc,
      </if>
      <if test="projectrootF != null">
        projectroot_f,
      </if>
      <if test="filetype != null">
        filetype,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fileid != null">
        #{fileid,jdbcType=INTEGER},
      </if>
      <if test="directoryid != null">
        #{directoryid,jdbcType=INTEGER},
      </if>
      <if test="projectidF != null">
        #{projectidF,jdbcType=VARCHAR},
      </if>
      <if test="filename != null">
        #{filename,jdbcType=VARCHAR},
      </if>
      <if test="filedesc != null">
        #{filedesc,jdbcType=VARCHAR},
      </if>
      <if test="projectrootF != null">
        #{projectrootF,jdbcType=VARCHAR},
      </if>
      <if test="filetype != null">
        #{filetype,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mybatsigenerator.model.File">
    update file_t
    <set>
      <if test="directoryid != null">
        directoryid = #{directoryid,jdbcType=INTEGER},
      </if>
      <if test="projectidF != null">
        projectid_f = #{projectidF,jdbcType=VARCHAR},
      </if>
      <if test="filename != null">
        filename = #{filename,jdbcType=VARCHAR},
      </if>
      <if test="filedesc != null">
        filedesc = #{filedesc,jdbcType=VARCHAR},
      </if>
      <if test="projectrootF != null">
        projectroot_f = #{projectrootF,jdbcType=VARCHAR},
      </if>
      <if test="filetype != null">
        filetype = #{filetype,jdbcType=VARCHAR},
      </if>
    </set>
    where fileid = #{fileid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mybatsigenerator.model.File">
    update file_t
    set directoryid = #{directoryid,jdbcType=INTEGER},
      projectid_f = #{projectidF,jdbcType=VARCHAR},
      filename = #{filename,jdbcType=VARCHAR},
      filedesc = #{filedesc,jdbcType=VARCHAR},
      projectroot_f = #{projectrootF,jdbcType=VARCHAR},
      filetype = #{filetype,jdbcType=VARCHAR}
    where fileid = #{fileid,jdbcType=INTEGER}
  </update>
</mapper>