<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatsigenerator.dao.ModeAbstractMapper">
  <resultMap id="BaseResultMap" type="com.mybatsigenerator.model.ModeAbstract">
    <id column="abstractid" jdbcType="INTEGER" property="abstractid" />
    <result column="implid" jdbcType="INTEGER" property="implid" />
    <result column="abstractdesc" jdbcType="VARCHAR" property="abstractdesc" />
    <result column="abstractname" jdbcType="VARCHAR" property="abstractname" />
    <result column="a_frameid" jdbcType="INTEGER" property="aFrameid" />
  </resultMap>
  <sql id="Base_Column_List">
    abstractid, implid, abstractdesc, abstractname, a_frameid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from model_abstract_t
    where abstractid = #{abstractid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from model_abstract_t
    where abstractid = #{abstractid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mybatsigenerator.model.ModeAbstract">
    insert into model_abstract_t (abstractid, implid, abstractdesc, 
      abstractname, a_frameid)
    values (#{abstractid,jdbcType=INTEGER}, #{implid,jdbcType=INTEGER}, #{abstractdesc,jdbcType=VARCHAR}, 
      #{abstractname,jdbcType=VARCHAR}, #{aFrameid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.mybatsigenerator.model.ModeAbstract">
    insert into model_abstract_t
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="abstractid != null">
        abstractid,
      </if>
      <if test="implid != null">
        implid,
      </if>
      <if test="abstractdesc != null">
        abstractdesc,
      </if>
      <if test="abstractname != null">
        abstractname,
      </if>
      <if test="aFrameid != null">
        a_frameid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="abstractid != null">
        #{abstractid,jdbcType=INTEGER},
      </if>
      <if test="implid != null">
        #{implid,jdbcType=INTEGER},
      </if>
      <if test="abstractdesc != null">
        #{abstractdesc,jdbcType=VARCHAR},
      </if>
      <if test="abstractname != null">
        #{abstractname,jdbcType=VARCHAR},
      </if>
      <if test="aFrameid != null">
        #{aFrameid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mybatsigenerator.model.ModeAbstract">
    update model_abstract_t
    <set>
      <if test="implid != null">
        implid = #{implid,jdbcType=INTEGER},
      </if>
      <if test="abstractdesc != null">
        abstractdesc = #{abstractdesc,jdbcType=VARCHAR},
      </if>
      <if test="abstractname != null">
        abstractname = #{abstractname,jdbcType=VARCHAR},
      </if>
      <if test="aFrameid != null">
        a_frameid = #{aFrameid,jdbcType=INTEGER},
      </if>
    </set>
    where abstractid = #{abstractid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mybatsigenerator.model.ModeAbstract">
    update model_abstract_t
    set implid = #{implid,jdbcType=INTEGER},
      abstractdesc = #{abstractdesc,jdbcType=VARCHAR},
      abstractname = #{abstractname,jdbcType=VARCHAR},
      a_frameid = #{aFrameid,jdbcType=INTEGER}
    where abstractid = #{abstractid,jdbcType=INTEGER}
  </update>
</mapper>