<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatsigenerator.dao.ProjectMapper">
  <resultMap id="BaseResultMap" type="com.mybatsigenerator.model.Project">
    <id column="projectid" jdbcType="INTEGER" property="projectid" />
    <result column="projectdesc" jdbcType="VARCHAR" property="projectdesc" />
    <result column="projectroot" jdbcType="VARCHAR" property="projectroot" />
  </resultMap>
  <sql id="Base_Column_List">
    projectid, projectdesc, projectroot
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from project_t
    where projectid = #{projectid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from project_t
    where projectid = #{projectid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mybatsigenerator.model.Project">
    insert into project_t (projectid, projectdesc, projectroot
      )
    values (#{projectid,jdbcType=INTEGER}, #{projectdesc,jdbcType=VARCHAR}, #{projectroot,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mybatsigenerator.model.Project">
    insert into project_t
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="projectid != null">
        projectid,
      </if>
      <if test="projectdesc != null">
        projectdesc,
      </if>
      <if test="projectroot != null">
        projectroot,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="projectid != null">
        #{projectid,jdbcType=INTEGER},
      </if>
      <if test="projectdesc != null">
        #{projectdesc,jdbcType=VARCHAR},
      </if>
      <if test="projectroot != null">
        #{projectroot,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mybatsigenerator.model.Project">
    update project_t
    <set>
      <if test="projectdesc != null">
        projectdesc = #{projectdesc,jdbcType=VARCHAR},
      </if>
      <if test="projectroot != null">
        projectroot = #{projectroot,jdbcType=VARCHAR},
      </if>
    </set>
    where projectid = #{projectid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mybatsigenerator.model.Project">
    update project_t
    set projectdesc = #{projectdesc,jdbcType=VARCHAR},
      projectroot = #{projectroot,jdbcType=VARCHAR}
    where projectid = #{projectid,jdbcType=INTEGER}
  </update>
</mapper>