<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.importproject.dao.ExampleMapper">
  <resultMap id="BaseResultMap" type="com.importproject.enetity.Example">
    <id column="example_id" jdbcType="INTEGER" property="exampleId" />
    <result column="e_frameid" jdbcType="INTEGER" property="eFrameid" />
    <result column="exampledesc" jdbcType="VARCHAR" property="exampledesc" />
    <result column="examplevalue" jdbcType="VARCHAR" property="examplevalue" />
  </resultMap>
  <sql id="Base_Column_List">
    example_id, e_frameid, exampledesc, examplevalue
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from example_t
    where example_id = #{exampleId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from example_t
    where example_id = #{exampleId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.importproject.enetity.Example">
    insert into example_t (example_id, e_frameid, exampledesc, 
      examplevalue)
    values (#{exampleId,jdbcType=INTEGER}, #{eFrameid,jdbcType=INTEGER}, #{exampledesc,jdbcType=VARCHAR}, 
      #{examplevalue,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.importproject.enetity.Example">
    insert into example_t
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="exampleId != null">
        example_id,
      </if>
      <if test="eFrameid != null">
        e_frameid,
      </if>
      <if test="exampledesc != null">
        exampledesc,
      </if>
      <if test="examplevalue != null">
        examplevalue,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="exampleId != null">
        #{exampleId,jdbcType=INTEGER},
      </if>
      <if test="eFrameid != null">
        #{eFrameid,jdbcType=INTEGER},
      </if>
      <if test="exampledesc != null">
        #{exampledesc,jdbcType=VARCHAR},
      </if>
      <if test="examplevalue != null">
        #{examplevalue,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.importproject.enetity.Example">
    update example_t
    <set>
      <if test="eFrameid != null">
        e_frameid = #{eFrameid,jdbcType=INTEGER},
      </if>
      <if test="exampledesc != null">
        exampledesc = #{exampledesc,jdbcType=VARCHAR},
      </if>
      <if test="examplevalue != null">
        examplevalue = #{examplevalue,jdbcType=VARCHAR},
      </if>
    </set>
    where example_id = #{exampleId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.importproject.enetity.Example">
    update example_t
    set e_frameid = #{eFrameid,jdbcType=INTEGER},
      exampledesc = #{exampledesc,jdbcType=VARCHAR},
      examplevalue = #{examplevalue,jdbcType=VARCHAR}
    where example_id = #{exampleId,jdbcType=INTEGER}
  </update>
</mapper>