<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.importproject.dao.InterfaceMapper">
  <resultMap id="BaseResultMap" type="com.importproject.enetity.Interface">
    <id column="interfaceid" jdbcType="CHAR" property="interfaceid" />
    <result column="implid" jdbcType="INTEGER" property="implid" />
    <result column="interfacedesc" jdbcType="VARCHAR" property="interfacedesc" />
    <result column="interfacename" jdbcType="VARCHAR" property="interfacename" />
    <result column="frameid" jdbcType="INTEGER" property="frameid" />
  </resultMap>
  <sql id="Base_Column_List">
    interfaceid, implid, interfacedesc, interfacename, frameid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from interface_t
    where interfaceid = #{interfaceid,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from interface_t
    where interfaceid = #{interfaceid,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.importproject.enetity.Interface">
    insert into interface_t (interfaceid, implid, interfacedesc, 
      interfacename, frameid)
    values (#{interfaceid,jdbcType=CHAR}, #{implid,jdbcType=INTEGER}, #{interfacedesc,jdbcType=VARCHAR}, 
      #{interfacename,jdbcType=VARCHAR}, #{frameid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.importproject.enetity.Interface">
    insert into interface_t
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="interfaceid != null">
        interfaceid,
      </if>
      <if test="implid != null">
        implid,
      </if>
      <if test="interfacedesc != null">
        interfacedesc,
      </if>
      <if test="interfacename != null">
        interfacename,
      </if>
      <if test="frameid != null">
        frameid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="interfaceid != null">
        #{interfaceid,jdbcType=CHAR},
      </if>
      <if test="implid != null">
        #{implid,jdbcType=INTEGER},
      </if>
      <if test="interfacedesc != null">
        #{interfacedesc,jdbcType=VARCHAR},
      </if>
      <if test="interfacename != null">
        #{interfacename,jdbcType=VARCHAR},
      </if>
      <if test="frameid != null">
        #{frameid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.importproject.enetity.Interface">
    update interface_t
    <set>
      <if test="implid != null">
        implid = #{implid,jdbcType=INTEGER},
      </if>
      <if test="interfacedesc != null">
        interfacedesc = #{interfacedesc,jdbcType=VARCHAR},
      </if>
      <if test="interfacename != null">
        interfacename = #{interfacename,jdbcType=VARCHAR},
      </if>
      <if test="frameid != null">
        frameid = #{frameid,jdbcType=INTEGER},
      </if>
    </set>
    where interfaceid = #{interfaceid,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.importproject.enetity.Interface">
    update interface_t
    set implid = #{implid,jdbcType=INTEGER},
      interfacedesc = #{interfacedesc,jdbcType=VARCHAR},
      interfacename = #{interfacename,jdbcType=VARCHAR},
      frameid = #{frameid,jdbcType=INTEGER}
    where interfaceid = #{interfaceid,jdbcType=CHAR}
  </update>
</mapper>