<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.importproject.dao.MockMapper">
  <resultMap id="BaseResultMap" type="com.importproject.enetity.Mock">
    <id column="mockid" jdbcType="INTEGER" property="mockid" />
    <result column="mockname" jdbcType="VARCHAR" property="mockname" />
    <result column="mockvalue" jdbcType="VARCHAR" property="mockvalue" />
    <result column="mockdesc" jdbcType="VARCHAR" property="mockdesc" />
    <result column="mock_frameid" jdbcType="INTEGER" property="mockFrameid" />
  </resultMap>
  <sql id="Base_Column_List">
    mockid, mockname, mockvalue, mockdesc, mock_frameid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mock_t
    where mockid = #{mockid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from mock_t
    where mockid = #{mockid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.importproject.enetity.Mock">
    insert into mock_t (mockid, mockname, mockvalue, 
      mockdesc, mock_frameid)
    values (#{mockid,jdbcType=INTEGER}, #{mockname,jdbcType=VARCHAR}, #{mockvalue,jdbcType=VARCHAR}, 
      #{mockdesc,jdbcType=VARCHAR}, #{mockFrameid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.importproject.enetity.Mock">
    insert into mock_t
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mockid != null">
        mockid,
      </if>
      <if test="mockname != null">
        mockname,
      </if>
      <if test="mockvalue != null">
        mockvalue,
      </if>
      <if test="mockdesc != null">
        mockdesc,
      </if>
      <if test="mockFrameid != null">
        mock_frameid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mockid != null">
        #{mockid,jdbcType=INTEGER},
      </if>
      <if test="mockname != null">
        #{mockname,jdbcType=VARCHAR},
      </if>
      <if test="mockvalue != null">
        #{mockvalue,jdbcType=VARCHAR},
      </if>
      <if test="mockdesc != null">
        #{mockdesc,jdbcType=VARCHAR},
      </if>
      <if test="mockFrameid != null">
        #{mockFrameid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.importproject.enetity.Mock">
    update mock_t
    <set>
      <if test="mockname != null">
        mockname = #{mockname,jdbcType=VARCHAR},
      </if>
      <if test="mockvalue != null">
        mockvalue = #{mockvalue,jdbcType=VARCHAR},
      </if>
      <if test="mockdesc != null">
        mockdesc = #{mockdesc,jdbcType=VARCHAR},
      </if>
      <if test="mockFrameid != null">
        mock_frameid = #{mockFrameid,jdbcType=INTEGER},
      </if>
    </set>
    where mockid = #{mockid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.importproject.enetity.Mock">
    update mock_t
    set mockname = #{mockname,jdbcType=VARCHAR},
      mockvalue = #{mockvalue,jdbcType=VARCHAR},
      mockdesc = #{mockdesc,jdbcType=VARCHAR},
      mock_frameid = #{mockFrameid,jdbcType=INTEGER}
    where mockid = #{mockid,jdbcType=INTEGER}
  </update>
</mapper>